body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 800px;
    min-height: 500px;
    padding: 40px;
    background-color: pink;
    border-radius: 20px;
    font-size: 24px;
    opacity: 90%;
    font-family: 'Segoe Print', 'Comic Sans MS', cursive;
    font-weight: normal;
}

img {
    border-radius: 40px;
    margin-bottom: 20px;
    max-width: 90%;
    height: auto;
}

button {
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(251, 225, 229);
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(238, 165, 176);
    color: white;
    border-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}