body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 600px;
    height: 600px;
    background-color: pink;
    border-radius: 20px;
    font-size: 28px;
    opacity: 0.9;
    padding: 20px;
}

img {
    border-radius: 40px;
    height: 290px;
    width: 290px;
    object-fit: cover;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.message {
    text-align: center;
    font-family: 'Segoe Print', 'Comic Sans MS', cursive;
    color: #4a4a4a;
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: normal;
}

.message p {
    margin: 5px 0;
}

.photo {
    position: absolute;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 8px solid white;
}

.p1 {
    transform: rotate(-12deg) translateX(-80px);
    z-index: 1;
}

.p2 {
    transform: rotate(12deg) translateX(80px);
    z-index: 2;
}

.p1.active {
    transform: rotate(0deg) scale(1.2);
    z-index: 100;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.p2.active {
    transform: rotate(0deg) scale(1.2);
    z-index: 100;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

button {
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(251, 225, 229);
    font-size: 15px;
    color: rgb(0, 0, 0);

}

button:hover {
    cursor: pointer;
    background-color: rgb(238, 165, 176);
    color: white;
    border-color: white;
}