body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    align-items: center;
    margin-left: 350px;
    margin-top: 150px;
    width: 800px;
    height: 500px;
    background-color: pink;
    border-radius: 20px;
    font-size: 24px;
    opacity: 90%;
    font-family: 'Segoe Print', 'Comic Sans MS', cursive;
    font-weight: normal;
}

img {
    padding-top: 20px;
    border-radius: 40px;
    height: 290px;
    width: 290px;
}

button {
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(251, 225, 229);
    font-size: 15px;
    color: rgb(0, 0, 0);

}

button:hover {
    cursor: pointer;
    background-color: rgb(238, 165, 176);
    color: white;
    border-color: white;
}